@model HMSApp.Models.Doctors

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Doctors</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DoctorID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNo)
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecializedArea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpecializedArea)
                @Html.ValidationMessageFor(model => model.SpecializedArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hospital, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hospital)
                @Html.ValidationMessageFor(model => model.Hospital)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenderID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenderID")
                @Html.ValidationMessageFor(model => model.GenderID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConsultantDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConsultantDay, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.ConsultantDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChannelingFee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChannelingFee)
                @Html.ValidationMessageFor(model => model.ChannelingFee)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
